# macOS
.DS_Store

# Python build artifacts
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
.installed.cfg

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
ENV/
env/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*~
